In [53]:
import pandas as pd
import requests

url = "https://www.worldometers.info/coronavirus/country/us/"
r = requests.get(url)
df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
df = df_list[0]
df.head()

,#,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population,Source,Projections
0,NaN,USA Total,7214010,"+28,539",208021.0,483.0,4460124.0,2545865.0,21794.0,628.0,102185676.0,308716.0,NaN,NaN,NaN
1,1.0,California,800167,+71,15409.0,7.0,405992.0,378766.0,20251.0,390.0,14052047.0,355638.0,39512223.0,[view by county] [1],[projections]
2,2.0,Texas,760941,NaN,15629.0,NaN,657366.0,87946.0,26243.0,539.0,6330568.0,218326.0,28995881.0,[view by county] [1] [2],[projections]
3,3.0,Florida,695887,"+2,847",13915.0,120.0,264346.0,417626.0,32400.0,648.0,5213142.0,242723.0,21477737.0,[view by county] [1] [2] [3],[projections]
4,4.0,New York,487775,+796,33202.0,9.0,390876.0,63697.0,25074.0,1707.0,10323463.0,530672.0,19453561.0,[view by county] [1] [2] [3],[projections]

In [54]:
del df['Source']
del df['Projections']

In [55]:
df

,#,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population
0,NaN,USA Total,7214010,"+28,539",208021.0,483.0,4460124.0,2545865.0,21794.0,628.0,102185676.0,308716.0,NaN
1,1.0,California,800167,+71,15409.0,7.0,405992.0,378766.0,20251.0,390.0,14052047.0,355638.0,39512223.0
2,2.0,Texas,760941,NaN,15629.0,NaN,657366.0,87946.0,26243.0,539.0,6330568.0,218326.0,28995881.0
3,3.0,Florida,695887,"+2,847",13915.0,120.0,264346.0,417626.0,32400.0,648.0,5213142.0,242723.0,21477737.0
4,4.0,New York,487775,+796,33202.0,9.0,390876.0,63697.0,25074.0,1707.0,10323463.0,530672.0,19453561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,59.0,Navajo Nation,10212,+45,551.0,NaN,NaN,NaN,NaN,NaN,99311.0,NaN,NaN
60,60.0,Grand Princess Ship,103,NaN,3.0,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
61,61.0,Wuhan Repatriated,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN
62,62.0,Diamond Princess Ship,46,NaN,NaN,NaN,NaN,46.0,NaN,NaN,46.0,NaN,NaN
63,NaN,Total:,7214010,"+28,539",208021.0,483.0,4460124.0,2545865.0,21794.0,628.0,102185676.0,308716.0,NaN

In [56]:
del df['#']

In [57]:
df.head(50)

,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population
0,USA Total,7214010,"+28,539",208021.0,483.0,4460124.0,2545865.0,21794.0,628.0,102185676.0,308716.0,NaN
1,California,800167,+71,15409.0,7.0,405992.0,378766.0,20251.0,390.0,14052047.0,355638.0,39512223.0
2,Texas,760941,NaN,15629.0,NaN,657366.0,87946.0,26243.0,539.0,6330568.0,218326.0,28995881.0
3,Florida,695887,"+2,847",13915.0,120.0,264346.0,417626.0,32400.0,648.0,5213142.0,242723.0,21477737.0
4,New York,487775,+796,33202.0,9.0,390876.0,63697.0,25074.0,1707.0,10323463.0,530672.0,19453561.0
5,Georgia,312514,"+1,468",6874.0,52.0,80902.0,224738.0,29434.0,647.0,3145976.0,296303.0,10617423.0
6,Illinois,286374,"+2,805",8807.0,33.0,204912.0,72655.0,22599.0,695.0,5363471.0,423260.0,12671821.0
7,Arizona,216367,+515,5587.0,28.0,34393.0,176387.0,29726.0,768.0,1713405.0,235399.0,7278717.0
8,New Jersey,205715,+400,16219.0,6.0,169957.0,19539.0,23160.0,1826.0,3478711.0,391650.0,8882190.0
9,North Carolina,198189,NaN,3356.0,NaN,176422.0,18411.0,18897.0,320.0,2870191.0,273662.0,10488084.0
10,Tennessee,189454,"+1,910",2352.0,42.0,171153.0,15949.0,27742.0,344.0,2755933.0,403553.0,6829174.0
11,Louisiana,163928,+706,5444.0,21.0,149640.0,8844.0,35262.0,1171.0,2254841.0,485038.0,4648794.0
12,Pennsylvania,158689,+467,8158.0,1.0,125785.0,24746.0,12396.0,637.0,1965807.0,153555.0,12801989.0
13,Alabama,150658,"+2,452",2506.0,NaN,64583.0,83569.0,30727.0,511.0,1135567.0,231598.0,4903185.0
14,Ohio,148998,"+1,115",4747.0,18.0,128369.0,15882.0,12747.0,406.0,2987382.0,255570.0,11689100.0
15,Virginia,144433,+941,3136.0,23.0,17099.0,124198.0,16921.0,367.0,2119729.0,248342.0,8535519.0
16,South Carolina,142707,NaN,3279.0,NaN,68079.0,71349.0,27717.0,637.0,1313306.0,255075.0,5148714.0
17,Michigan,132337,NaN,7019.0,NaN,90216.0,35102.0,13251.0,703.0,3786328.0,379131.0,9986857.0
18,Massachusetts,128993,NaN,9362.0,NaN,111479.0,8152.0,18715.0,1358.0,2386514.0,346248.0,6892503.0
19,Maryland,122359,+559,3917.0,8.0,7431.0,111011.0,20239.0,648.0,2494019.0,412529.0,6045680.0
20,Missouri,122088,NaN,2112.0,NaN,19274.0,100702.0,19892.0,344.0,1333123.0,217212.0,6137428.0
21,Indiana,115407,"+1,171",3566.0,18.0,90979.0,20862.0,17142.0,530.0,1963006.0,291584.0,6732219.0
22,Wisconsin,108324,NaN,1265.0,NaN,90726.0,16333.0,18605.0,217.0,1479394.0,254085.0,5822434.0
23,Mississippi,96032,+722,2894.0,20.0,85327.0,7811.0,32267.0,972.0,806451.0,270971.0,2976149.0
24,Minnesota,94189,"+1,177",2046.0,6.0,84256.0,7887.0,16701.0,363.0,1924020.0,341161.0,5639632.0
25,Washington,87453,NaN,2080.0,NaN,41729.0,43644.0,11484.0,273.0,1783279.0,234183.0,7614893.0
26,Iowa,84678,"+1,084",1306.0,4.0,62623.0,20749.0,26839.0,414.0,766786.0,243033.0,3155070.0
27,Oklahoma,82520,"+1,276",993.0,12.0,68911.0,12616.0,20854.0,251.0,1153358.0,291475.0,3956971.0
28,Arkansas,79049,NaN,1246.0,NaN,70737.0,7066.0,26194.0,413.0,928335.0,307619.0,3017804.0
29,Nevada,77753,+556,1573.0,9.0,51656.0,24524.0,25243.0,511.0,1017333.0,330286.0,3080156.0
30,Utah,68530,"+1,411",448.0,4.0,53360.0,14722.0,21376.0,140.0,1022373.0,318898.0,3205958.0
31,Colorado,67217,NaN,2033.0,NaN,30071.0,35113.0,11672.0,353.0,858108.0,149010.0,5758736.0
32,Kentucky,64158,NaN,1137.0,NaN,11570.0,51451.0,14360.0,254.0,1301407.0,291294.0,4467673.0
33,Connecticut,56472,NaN,4499.0,NaN,41795.0,10178.0,15839.0,1262.0,1503114.0,421597.0,3565287.0
34,Kansas,56428,NaN,633.0,NaN,43212.0,12583.0,19369.0,217.0,492281.0,168976.0,2913314.0
35,Nebraska,42731,NaN,462.0,NaN,31774.0,10495.0,22090.0,239.0,437603.0,226221.0,1934408.0
36,Idaho,39234,NaN,457.0,NaN,21105.0,17672.0,21954.0,256.0,296412.0,165865.0,1787065.0
37,Oregon,31865,NaN,539.0,NaN,5484.0,25842.0,7555.0,128.0,648949.0,153862.0,4217737.0
38,New Mexico,28224,NaN,859.0,NaN,15825.0,11540.0,13460.0,410.0,885373.0,422244.0,2096829.0
39,Rhode Island,24311,NaN,1106.0,NaN,2278.0,20927.0,22949.0,1044.0,717047.0,676867.0,1059361.0
40,South Dakota,20554,+457,216.0,6.0,16831.0,3507.0,23234.0,244.0,183947.0,207930.0,884659.0
41,Delaware,20085,+138,631.0,1.0,10517.0,8937.0,20626.0,648.0,278333.0,285832.0,973764.0
42,North Dakota,19885,+434,219.0,7.0,16104.0,3562.0,26094.0,287.0,234634.0,307894.0,762062.0
43,District Of Columbia,15163,+57,623.0,2.0,11990.0,2550.0,21485.0,883.0,373586.0,529347.0,705749.0
44,West Virginia,14953,+247,330.0,5.0,10968.0,3655.0,8344.0,184.0,535018.0,298535.0,1792147.0
45,Hawaii,11779,NaN,124.0,NaN,5265.0,6390.0,8319.0,88.0,398945.0,281766.0,1415872.0
46,Montana,11564,+322,170.0,5.0,8681.0,2713.0,10820.0,159.0,326116.0,305130.0,1068778.0
47,New Hampshire,8044,NaN,438.0,NaN,7325.0,281.0,5916.0,322.0,278052.0,204493.0,1359711.0
48,Alaska,7132,NaN,46.0,NaN,2477.0,4609.0,9749.0,63.0,438368.0,599236.0,731545.0
49,Wyoming,5305,NaN,50.0,NaN,4364.0,891.0,9166.0,86.0,152846.0,264093.0,578759.0

In [60]:
from datetime import date
from datetime import timedelta
today_date = date.today()
yesterday_date = today_date - timedelta(days = 1)
df['Date']= yesterday_date

In [61]:
df

,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population,Date
0,USA Total,7214010,"+28,539",208021.0,483.0,4460124.0,2545865.0,21794.0,628.0,102185676.0,308716.0,NaN,2020-09-24
1,California,800167,+71,15409.0,7.0,405992.0,378766.0,20251.0,390.0,14052047.0,355638.0,39512223.0,2020-09-24
2,Texas,760941,NaN,15629.0,NaN,657366.0,87946.0,26243.0,539.0,6330568.0,218326.0,28995881.0,2020-09-24
3,Florida,695887,"+2,847",13915.0,120.0,264346.0,417626.0,32400.0,648.0,5213142.0,242723.0,21477737.0,2020-09-24
4,New York,487775,+796,33202.0,9.0,390876.0,63697.0,25074.0,1707.0,10323463.0,530672.0,19453561.0,2020-09-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Navajo Nation,10212,+45,551.0,NaN,NaN,NaN,NaN,NaN,99311.0,NaN,NaN,2020-09-24
60,Grand Princess Ship,103,NaN,3.0,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,2020-09-24
61,Wuhan Repatriated,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,2020-09-24
62,Diamond Princess Ship,46,NaN,NaN,NaN,NaN,46.0,NaN,NaN,46.0,NaN,NaN,2020-09-24
63,Total:,7214010,"+28,539",208021.0,483.0,4460124.0,2545865.0,21794.0,628.0,102185676.0,308716.0,NaN,2020-09-24

In [8]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/anaconda3/lib/python3.7/site-packages (3.11.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pymongo
print("Setting up mongo client")
client = pymongo.MongoClient("localhost", 27017)
print("Connecting to database ...")
db = client.admin
database_name = db.name
print("Connected Successfully!")
# output DB name
print("The database name is: {}".format(database_name))

Setting up mongo client
Connecting to database ...
Connected Successfully!
The database name is: admin